<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ModuleConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RPDModule;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
    <add name="RPDConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=plany;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>