<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPDModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RPDModule.Properties.Settings>
            <setting name="rgr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Параметр" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>2</string>
                        <string>3</string>
                    </ArrayOfString>
                </value>
            </setting>
        </RPDModule.Properties.Settings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="rgr" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="ModuleConnection" connectionString="Data Source=.\KEK;Initial Catalog=RPDModule;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
    <add name="RPDConnection" connectionString="Data Source=.\KEK;Initial Catalog=plany;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>